html { 
  background: url(assets/worldDice.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.player1-container {
  background-color: white;
  width: 35%;
  height: 50vh;
  float: left;
}

.player2-container {
  
  float: right;
  background-color: #0F9A9B;
  width: 35%;
  height: 50vh;
  
}

.opacity {
  opacity: .50;
}

.player1title {
  color:red;
  background-color: black;
  text-align: center;
  opacity: 1.0;
}

.dice-player1{
  background-color: whitesmoke;
  width: 100px;
  height: 100px;
  float: left;
  border-style: solid;
  border-radius: 10px;
  border-color: red;
}

.dice-player2{
  background-color: whitesmoke;
  width: 100px;
  height: 100px;
  float: left;
  border-style: solid;
  border-radius: 10px;
  border-color: blue;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 15px;
    
}

#p1score{
  color: white;
}

#p2score{
  color: whitesmoke;
}

#sco1{
  color: white;
}

#sco2{
  color: white;
}

#p{
  color: whitesmoke;
}
